*{
    padding: 0%;
    margin: 0%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.number{
    display: flex;
    width: 400px;
}

.number > input{
    width: 100%;
    padding: 4%;
    border: none;
}

.number > button{
    width: 13%;
    padding: 0% 3%;
    font-size: 20px;
    color: grey;
    border: none;
    cursor: pointer;
}

.increment, .decrement{
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin: 3% 0%;
    border-radius: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.increment{
    background-color: #4caf50;
}

.decrement{
    background-color: #747474;
}

.counter{
    background-color: wheat;
    padding: 1%;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
